* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar starts here */

/* ArticleContainer starts here */

main {
  width: 720px;
  margin: auto;
  padding: 20px;
  border: dotted lightsteelblue 1px;
}

/* Article starts here */

/* Footer starts here */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#muted-footer p {
  margin: 0;
}

/* #page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
} */
